body {
  background-color: #009999;
  display: flex;
  overflow: hidden;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-top: 57px;
}
.gameover {
  background-image: url('https://i.ytimg.com/vi/vJaAy3jmEx8/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: white;
  font-family: 'Courgette', cursive;
  display: flex;
  align-self: center;
}

#tv {
  border-color: black;
  border-style: solid;
  border-radius: 30px;
  background: url('http://media0.giphy.com/media/OVlFjmEDhx9rG/giphy.gif');
  display: flex;
  height: 300px;
  width: 300px;
  margin-left: 40px;
}
.antenna {
  border-color: white;
  border-style: solid;
  height: 100px;
  display: flex;
}

#stick1 {
  transform: rotate(-12deg);
  margin-right: 30px;
}
#stick2 {
  transform: rotate(12deg);
}
#antholder {
  display: flex;
  margin-left: 255px;
}
#tvholder {
  border-color: black;
  border-style: solid;
  border-radius: 30px;
  background-color: #ff3333;
  width: 400px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
#tvknob {
  border-color: black;
  border-style: dotted;
  border-radius: 50px;
  background-color: white;
  height: 30px;
  width: 30px;
  margin-left: 5px;
}
#table {
  border-color: black;
  border-style: solid;
  display: flex;
  width: 600px;
  height: 200px;
  align-items: flex-end;
}
.legs {
  border-color: black;
  border-style: solid;
  height: 150px;
  background-color: #ff3333;
  display: flex;
  position: absolute;
}
#legone {
  margin-left: 500px;
  width: 95px;
}
#legtwo {
  width: 100px;
}
#underside {
  border-color: black;
  border-style: solid;
  background-color: #ff3333;
  height: 58px;
  width: 600px;
  display: flex;
  transform: rotate(180deg);
  align-self: flex-start;
}
#questionholder {
  border-style: solid;
  width: 350px;
  height: 350px;
  position: fixed;
  margin-left: 950px;
  background-color: #ff3333;
  align-content: center;
}
.vidholder {
  opacity: 0;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  position: fixed;
}
.play {
  border-color: red;
  border-style: solid;
  width: 20px;
  margin-top: 420px;
  position: fixed;
}
.slideShow {
  position: fixed;
  display: none;
}

#button1 {
  width: 100px;
  margin-left: 1250px;
}

#button2 {
  margin-left: 960px;
  width: 100px;
  display: none;
}
#right {
  position: fixed;
  color: black;
}
#wrong {
  position: fixed;
  color: #ff3333;
  padding-top: 40px;
}
#tryAgain {
  position: fixed;
  margin-top: 500px;
  margin-left: 500px;
  display: none;
}
